.App {
  background-color: lightgray;
  font-family: Roboto-Regular;
  font-size: 0.9em;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  background-color: black;
  color: white;
  padding: 10px;
}

.title {
  font-size: 1.9em;
  font-style: italic;
}

.user {
  font-size: 1.0em;
  font-weight: bold;
  padding-right: 15px;
}

.toolBar {
  flex-direction: row;
  text-align: left;
  background-color: darkgray;
  padding: 4px;
}

.toolBarItem {
  margin: 5px;
}

.content {
  padding: 5px;
}

table {
  text-align: left;
  border-collapse: collapse;
  font-size: 0.9em;
}

.tableFixHead {
  overflow-y: auto;
  /* width: 100%; */
  /* height: 100%; */
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  border: 1px solid darkgray;
}

th {
  border: 1px solid darkgray;
  white-space: nowrap;
  padding: 5px;
}

td {
  border: 1px solid black;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.createForm {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  padding: 5px;
  width: 40vw;
}

.formRow {
  display: flex;
  flex-direction: row;
}

.formTitle {
  width: 25%;
}

.formField {
  width: 75%;
}

.formButton {
  justify-content: flex-end;
}