@font-face {
  font-family: "Cousine-Bold";
  src: local("Cousine-Bold"),
    url("./fonts/Cousine-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Cousine-Regular";
  src: local("Cousine-Regular"),
    url("./fonts/Cousine-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FreeMono";
  src: local("FreeMono"),
    url("./fonts/FreeMono.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FreeMonoBold";
  src: local("FreeMonoBold"),
    url("./fonts/FreeMonoBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OxygenMono-Regular";
  src: local("OxygenMono"),
    url("./fonts/OxygenMono-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
